
ProjetoLivro/ProjetoLivro.xcodeproj/project.xcworkspace/xcuserdata/DaniloAM.xcuserdatad/UserInterfaceState.xcuserstate

ProjetoLivro/ProjetoLivro.xcodeproj/project.xcworkspace/xcuserdata/brunopereira.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

ProjetoLivro/ProjetoLivro.xcodeproj/project.xcworkspace/xcuserdata/brunopereira.xcuserdatad/UserInterfaceState.xcuserstate

ProjetoLivro/ProjetoLivro.xcodeproj/project.xcworkspace/xcshareddata/ProjetoLivro.xccheckout
